@page "/Signup"
@layout Loginlayout

<h3>SignUp</h3>

<div class="content">
    <div class="text">
        <b> Login Register Form </b>
    </div>
    <form action="#">
        <div class="field">
            <input type="text" required>
            <span class="fas fa-user"></span>
            <label>Email or Phone</label>
        </div>

        <div class="field">
            <input type="password" required>
            <span class="fas fa-lock"></span>
            <label>Password</label>
        </div>

        <div class="field">
            <input type="password" required>
            <span class="fas fa-lock"></span>
            <label>ConfirmPassword</label>
        </div>
        <button>Sign Up</button>
        <a href="/">signIn now</a>

        <div class="sign-up">
             Want to goBack To?
            <a href="/">Back</a>
        </div>
    </form>
</div>
